<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_justech_root"
              name="Justech"
              groups="justech_modules.group_justech_license_manager,base.group_system"
              sequence="95"/>

    <menuitem id="menu_justech_licensing"
              name="Licencias"
              parent="menu_justech_root"
              sequence="10"/>

    <menuitem id="menu_justech_module_activation"
              name="Module Activation"
              parent="menu_justech_licensing"
              action="action_justech_module_activation_wizard"
              sequence="5"/>

    <menuitem id="menu_justech_license"
              name="Licenses"
              parent="menu_justech_licensing"
              action="action_justech_license"
              sequence="10"/>

    <menuitem id="menu_justech_feature"
              name="Features"
              parent="menu_justech_licensing"
              action="action_justech_feature"
              sequence="20"/>

    <menuitem id="menu_justech_module"
              name="Modules"
              parent="menu_justech_licensing"
              action="action_justech_module"
              sequence="30"/>

    <menuitem id="menu_justech_activation_key"
              name="Activation Keys"
              parent="menu_justech_licensing"
              action="action_justech_activation_key"
              sequence="40"/>

    <menuitem id="menu_justech_license_audit"
              name="Audit Log"
              parent="menu_justech_licensing"
              action="action_justech_license_audit"
              sequence="50"/>
</odoo>
