<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_justech_platform_root"
              name="Justech"
              parent="base.menu_administration"
              sequence="94"
              groups="justech_multicurrency.group_justech_multicurrency_user"/>

    <menuitem id="menu_justech_multicurrency_root"
              name="Multimoneda"
              parent="menu_justech_platform_root"
              sequence="50"/>

    <menuitem id="menu_justech_multicurrency_policy"
              name="Política Comercial"
              parent="menu_justech_multicurrency_root"
              action="action_justech_multicurrency_policy"
              sequence="10"/>

    <menuitem id="menu_justech_multicurrency_dashboard"
              name="Dashboard"
              parent="menu_justech_multicurrency_root"
              action="action_justech_multicurrency_dashboard"
              sequence="20"/>

    <menuitem id="menu_justech_multicurrency_rates"
              name="Tasas de cambio"
              parent="menu_justech_multicurrency_root"
              action="action_justech_multicurrency_rates"
              sequence="30"/>
</odoo>
