COMPOSE_PROJECT_NAME=hellenia-test
TRAEFIK_HOST=hellenia.cloud
DB_USER=odoo
DB_PASSWORD=CHANGE_ME_TEST_STRONG_PASSWORD
ODOO_DB_NAME=hellenia_test
ADDONS_PATH=/opt/odoo-projects/hellenia/addons
ODOO_CONF_PATH=/opt/odoo-projects/hellenia/config/test/odoo.conf
