<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_justech_do_fiscal_document_type" model="ir.actions.act_window">
        <field name="name">Tipos de Comprobante</field>
        <field name="res_model">justech.do.fiscal.document.type</field>
        <field name="view_mode">list,form</field>
    </record>
    <menuitem id="menu_justech_do_fiscal_root"
              name="Localización Dominicana"
              parent="account.menu_finance_configuration"
              sequence="90"
              groups="justech_l10n_do_base.group_justech_do_fiscal_user"/>
    <menuitem id="menu_justech_do_document_types"
              name="Tipos de Comprobante"
              parent="menu_justech_do_fiscal_root"
              action="action_justech_do_fiscal_document_type"
              sequence="10"
              active="False"/>
    <menuitem id="menu_justech_do_rnc_padron"
              name="Padrón RNC"
              parent="menu_justech_do_fiscal_root"
              action="action_justech_do_rnc_padron"
              sequence="20"
              groups="justech_l10n_do_base.group_justech_do_fiscal_manager"/>
    <menuitem id="menu_justech_do_rnc_padron_import"
              name="Actualizar padrón RNC"
              parent="menu_justech_do_fiscal_root"
              action="action_justech_do_rnc_padron_import"
              sequence="21"
              groups="justech_l10n_do_base.group_justech_do_fiscal_manager"/>
</odoo>
