<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_justech_do_fiscal_document_type" model="ir.actions.act_window">
        <field name="name">Tipos de Comprobante</field>
        <field name="res_model">justech.do.fiscal.document.type</field>
        <field name="view_mode">list,form</field>
    </record>
    <menuitem id="menu_justech_do_fiscal_root"
              name="Fiscal República Dominicana"
              parent="account.menu_finance_configuration"
              sequence="90"
              groups="justech_l10n_do_base.group_justech_do_fiscal_user"/>
    <menuitem id="menu_justech_do_document_types"
              name="Tipos de Comprobante"
              parent="menu_justech_do_fiscal_root"
              action="action_justech_do_fiscal_document_type"
              sequence="10"
              active="False"/>
    <menuitem id="menu_justech_do_rnc_padron"
              name="Padrón RNC"
              parent="menu_justech_do_fiscal_root"
              action="action_justech_do_rnc_padron"
              sequence="20"
              groups="base.group_system"
              active="False"/>
    <menuitem id="menu_justech_do_rnc_padron_import"
              name="Importar padrón RNC"
              parent="menu_justech_do_fiscal_root"
              action="action_justech_do_rnc_padron_import"
              sequence="21"
              groups="base.group_system"
              active="False"/>

    <!-- Contabilidad → Configuración → Localización Dominicana → Compras -->
    <menuitem id="menu_justech_do_purchase_fiscal_root"
              name="Compras"
              parent="menu_justech_do_fiscal_root"
              sequence="30"
              groups="justech_l10n_do_base.group_justech_do_fiscal_user,account.group_account_invoice"/>

    <menuitem id="menu_justech_do_dgii_expense_type"
              name="Tipos de costos y gastos"
              parent="menu_justech_do_purchase_fiscal_root"
              action="action_justech_do_dgii_expense_type"
              sequence="30"
              groups="justech_l10n_do_base.group_justech_do_fiscal_user,account.group_account_invoice"/>
</odoo>
